:root {
    /*Couleurs*/
    --header: #6299AB;
    --background: #4A707C;
    --rose: #DF7878;
    --texteGris: #BDBDBD;
    --bgInput: #E0EAFF;
    --erreur: red;

    /*formes*/
    --arrondi: 4px;
    --arrondiInput: 10px;
}

h1 {
    text-align: center;
    color: var(--rose);
    font-size: 70px;
    font-weight: 400;
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--header);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  