#form{
    display:grid;
}

h1{
    text-align: center;
    color: var(--rose);
    font-size: 70px;
    font-weight: 400;
}

#inscription{
    width: 7em;
    margin: auto;
    background-color: var(--rose);
    border-radius: var(--arrondi);
    color: white;
    border: 1px solid transparent;
    font-size: 15px;
    height: 2em;
}

label{
    color: var(--texteGris);
    font-size: 20px;
}

input[type="email"],input[type="text"], input[type="password"] {
    background-color: var(--bgInput);
    width: 22em;
    border-radius: var(--arrondiInput);
    border: 1px solid transparent;
    
}

input[type="image"] {
    background-color: transparent;
    width:3em;
}

#divForm{
    border: 10px solid var(--rose);
    margin: auto;
    width: 50em;
    padding: 2em;
    border-radius: var(--arrondiInput);
}