h1{
    text-align: center;
    color: var(--rose);
    font-size: 70px;
    font-weight: 400;
}

#chatBox{
    border: 10px solid var(--rose);
    margin: auto;
    padding: 2em;
    border-radius: var(--arrondiInput);
}

#main {
    margin: auto;
}

#messages{
    overflow-y: scroll;
    height: 30em;
}

.myMessages{
    margin-bottom: 1em;
    background-color: var(--rose);
    border-radius: 25px;
    width: 50% !important;
    padding: 1em;
}
.othersMessages{
    margin-bottom: 1em;
    background-color: #041D50;
    border-radius: 25px;
    width: 50% !important;
    padding: 1em;
}
.content{
    color: white;
}
.pseudo{
    color: black;
 }

.time{
    color: white;
}
#sendMessage{
    height: 5em;
}

#messageInput{
    height: 5em;
}
#submitButton{
    height: 5em;
}
