.connexion {
    border: 10px solid var(--rose);
    width:70%;
    margin:auto;
    border-radius: 20px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.connexion label {
    color : var(--texteGris);
    font-size: 25px;
    font-family:"Arial Nova";
}

.connexion input[type="email"], input[type="password"], input[type="text"] {
    background-color: var(--bgInput);
    border-radius: var(--arrondiInput);
    border: 1px solid var(--bgInput);
    width: 80%;
}

input[name="passwordView"] {
    background-color: transparent;
    width: 40px;
    height: 40px;
    
}


#connexion {
    width: 9em;
    background-color: var(--rose);
    border-radius: var(--arrondi);
    color: white;
    border: 1px solid transparent;
    font-size: 17px;
    font-weight: bold;
    height: 2em;
}

#connexion:hover {
    background-color: #dddddd;
    color: var(--rose);
}

.errors {
    border: 1px solid;
    font-family: "Arial Nova";
    text-align: justify;
    margin-left: 155px;
    margin-bottom: 20px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.errors:empty {
    display:none;
}

.errorAuthentication {
    border: 1px solid;
    font-family: "Arial Nova";
    text-align: justify;
    margin-bottom: 20px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}