:root {
    /*Couleurs*/
    --header: #6299AB;
    --background: #4A707C;
    --rose: #DF7878;
    --texteGris: #BDBDBD;
    --bgInput: #E0EAFF;
    /*--erreur: ;*/

    /*formes*/
    --arrondi: 4px;
    --arrondiInput: 10px;
}


body {
    background-color: var(--background) !important;
}

header {
    background-color: var(--header);
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:12%;
}

footer{
    background-color: var(--header);
    color:white;
    text-decoration: none;
    position:relative;
    bottom:0px;
}

h1 {
    text-align: center;
    color: var(--rose);
    font-family: "Arial";
    font-size: 9vw !important;
}


.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

img[class="logoTTB"] {
    height: 65px;
    width: 70px;
    background-color: transparent;
}

img[class="logoHome"] {
    height: 25px;
    width: 30px;
    background-color: transparent;
}

img[class="logoDisconnection"] {
    height: 25px;
    width: 30px; 
    background-color: transparent;
}

a[class="disconnection"] {
    font-family: "Arial Nova";
    color: #ff5757;
}

img[class="logoInscription-Connexion"] {
     height: 25px;
    width: 30px;
    background-color: transparent;
}


#home, .inscription-connexion, .disconnection{
    color:white !important;
}

.content{
    height: 100vh;
}