
h1{
    text-align: center;
    color: var(--rose);
    font-size: 70px;
    font-weight: 400;
}

#main {
    margin: auto;
}
.search-container{
    margin: auto;
    /* float: right; */
}

#searchIcon{
    width: 15px;
    height: 15px;
}
#DivSalons{
    border: 10px solid var(--rose);
    margin: auto;
    padding: 2em;
    border-radius: var(--arrondiInput);
    /*column-count: 2;*/
}

.exempleSalon{
    column-span: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.nomSalon{
    background-color: var(--rose);
    color: white;
    border-radius: 50px;
    padding: 10px;
}
.affMembreSalon{
    color: white;
    padding: 10px;
}

.linkRoom{
    color: white;
    text-decoration: none;
}