@font-face {
    font-family: 'arial-nova';
    src: url('arial-nova.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('font/arial-nova.ttf') format('ttf');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.dashboard {
    background: #4A707C;
}

.profile {
    padding: 25%;
}

.form1 {
    padding: 10%;
    background: #6299AB;
}

.form1 label {
    display: block;
}

.form1 input {
    padding: 5px 17px;
    border-radius: 8px;
    border: none;
    width: 70%;
}


