 <!DOCTYPE html>
 <html>

 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
     <title> Contact </title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
     <link rel="stylesheet" type="text/css" href="../ressources/css/generalCss.css">
     <link rel="stylesheet" type="text/css" href="../ressources/css/mentionsContact.css">
     <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
     <link rel="manifest" href="../site.webmanifest">
     <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
     <meta name="msapplication-TileColor" content="#da532c">
     <meta name="theme-color" content="#ffffff">


 </head>

 <body>
     <section class="contenu">
         <h1> Contact </h1>

         <div class="container">
             <div id="texte" class="row text-center">
                 <p id=" entete">
                     Vous avez un souci, contacter nous.
                 </p>

                 <form method="post" action="contact.php" class="form-inline">

                     <label for="identifiant"> Identifiant</label>
                     <br>
                     <input type="text" id="identifiant" name="identifiant" required> <br> <br>

                     <label for="mailUtilisateur"> Adresse mail</label>
                     <br>
                     <input type="email" name="mailUtilisateur" id="mailUtilisateur" size="35" required> <br><br>
                     <label for=" objet"> Objet de la demande </label>
                     <br>
                     <select name="objet" id="objet">
                         <option value="Profil"> Problème de profil</option>
                         <option value="Jeu"> Problème lié au jeu en ligne </option>
                         <option value="Salon"> Problème lié au(x) salon(s) de discussion </option>
                         <option value=" Autre"> Autres</option>

                     </select>
                     <br> <br> <br>

                     <label for=" Demande "> Votre demande </label> <br>
                     <textarea name="Demande" id=" Demande"> </textarea>
                     <br> <br>

                     <button type="submit" name=" Envoyer" id="boutonEnvoi"> Envoyer </button>

                     <br> <br> Le délai de prise en charge est de 48h.


                 </form>
             </div>
         </div>

     </section>

 </body>

 </html>